{% extends "exam_form/base_wizard.html" %}

{% block title %}Personal Information{% endblock %}

{% block form_title %}Personal Information{% endblock %}

{% block form_content %}
    {{ wizard.form.non_field_errors }}

    <div>
        <label for="id_contact_person_name">Contact Person Name <span class="required">*</span></label>
        {{ wizard.form.contact_person_name.errors }}
        {{ wizard.form.contact_person_name }}
    </div>

    <div>
        <label for="id_designation">Designation <span class="required">*</span></label>
        {{ wizard.form.designation.errors }}
        {{ wizard.form.designation }}
    </div>

    <div>
        <label for="id_mobile_phone">Mobile Phone <span class="required">*</span></label>
        {{ wizard.form.mobile_phone.errors }}
        {{ wizard.form.mobile_phone }}
    </div>

    <div>
        <label for="id_email">Email <span class="required">*</span></label>
        {{ wizard.form.email.errors }}
        {{ wizard.form.email }}
    </div>

{% endblock %}
