{% extends "exam_form/base_wizard.html" %}

{% block title %}Personal Information{% endblock %}

{% block form_title %}Personal Information{% endblock %}

{% block form_content %}
<label for="dob">Date of Birth <span class="required">*</span></label>
<input type="date" id="dob" name="dob" required>

<label for="address">Address <span class="required">*</span></label>
<input type="text" id="address" name="address" required>

<label for="city">City <span class="required">*</span></label>
<input type="text" id="city" name="city" required>

<label for="country">Country <span class="required">*</span></label>
<input type="text" id="country" name="country" required>
{% endblock %}
